menu "ICM426XX Driver configuration"

    choice
        prompt "Seral Interface"
        default ICM426XX_ESP32_SERIF
        help
            Chosen serial interface for communicating with an ICM426XX.
            By default I2C is used, using the I2CDev component.
            Choosing I2CDev, check it's configuration to select the correct configuration
        # these work:

        config ICM426XX_USE_I2C
            bool "Use I2C via I2CDev"

        config ICM426XX_USE_SPI4
            bool "Use SPI 4-wire mode (To-Be-Implemented)"

    endchoice

    config I2CM426XX_DEV_NAME
        int "Las 3 digits of the ICM Device type"
        default 600
        range 600 688
        help
            Last 3 digits of the ICM426XX device.
            For example if ICM42605 is used this should be equal to 605.

    config I2CM426XX_DEV_ADDRESS
        int "I2C Only - BUS Address of device"
        default 0x68
        range 0x0 0x256
        help
            Address of the device in I2C mode

    config I2CM426XX_DEV_INT1_GPIO
        int "INT1 GPIO on ESP32"
        default 1
        range 0 47
        help
            GPIO pin number for INT1 signal
            0-47: Valid GPIO
            -1: Not used

    config I2CM426XX_DEV_INT2_GPIO
        int "INT2 GPIO on ESP32"
        default 2
        range 0 47
        help
            GPIO pin number for INT2 signal
            0-47: Valid GPIO
            -1: Not used
endmenu
